<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>field_KnockDown_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,78},{55,99}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{55,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,241},{81,73}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{81,73}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,241},{81,73}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{81,73}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,241},{81,73}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{81,73}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,198},{41,89}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{41,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,198},{41,89}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{41,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,198},{41,89}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{41,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{37,97}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{37,97}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{37,97}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,78},{55,99}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{55,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{35,107}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{35,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{35,107}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{35,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{35,107}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{35,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,78},{55,99}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{55,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{91,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{91,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{91,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{55,99}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{55,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{81,73}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{81,73}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{81,73}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{81,73}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{81,73}}</string>
                <key>offset</key>
                <string>{-14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{81,73}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{41,89}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{41,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{41,89}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{41,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{41,89}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{41,89}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,39},{37,97}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,39},{37,97}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,39},{37,97}}</string>
                <key>offset</key>
                <string>{-37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{37,97}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{55,99}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{55,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,107}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{35,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,107}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{35,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,107}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{35,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{55,99}}</string>
                <key>offset</key>
                <string>{-24,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{55,99}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,135},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{91,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,135},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{91,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,135},{91,61}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{91,61}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>field_KnockDown_2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{105,37}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,74},{105,37}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>KnockDown.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2edb6477e96286735d2e89230c6532f7$</string>
            <key>textureFileName</key>
            <string>KnockDown.png</string>
        </dict>
    </dict>
</plist>
