<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>field_OneHandPass_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,309},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,111},{38,107}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{38,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,309},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,323},{34,105}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{34,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,323},{34,105}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{34,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,309},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,309},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{42,107}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{42,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{42,107}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{42,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,111},{38,107}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{38,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,54},{44,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,109},{36,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,54},{44,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,329},{40,107}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{40,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,329},{40,107}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{40,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,309},{40,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,309},{40,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{46,107}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{46,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{46,107}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{46,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,109},{36,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,434},{54,103}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{36,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,434},{54,103}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,323},{36,105}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,323},{36,105}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,309},{42,103}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,309},{42,103}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,105},{48,101}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,105},{48,101}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{36,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,309},{42,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,109},{38,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{38,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,309},{42,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,327},{42,105}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,327},{42,105}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,414},{42,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,414},{42,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{50,103}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{50,103}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,109},{38,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{38,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,208},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,458},{42,101}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{42,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,208},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,249},{32,103}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{32,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,249},{32,103}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,9},{32,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,144},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,144},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,103},{36,99}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,103},{36,99}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_1_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,458},{42,101}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{42,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,309},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{38,107}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{38,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,309},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,216},{34,105}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{34,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,216},{34,105}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{34,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,204},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,204},{34,103}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{42,107}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{42,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{42,107}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{42,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{38,107}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{38,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,54},{44,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,216},{36,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,54},{44,103}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{40,107}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{40,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,220},{40,107}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{40,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,414},{40,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,414},{40,101}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,107}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{46,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,107}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{46,107}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,216},{36,105}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{54,103}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,109},{36,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{54,103}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{54,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{36,105}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{36,105}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,309},{42,103}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,309},{42,103}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{48,101}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{48,101}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{48,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,109},{36,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{36,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,100},{42,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{38,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{38,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,100},{42,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,220},{42,105}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,220},{42,105}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,100},{42,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,100},{42,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{42,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{50,103}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{50,103}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{38,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{38,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,144},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,458},{42,101}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{42,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,144},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,144},{32,103}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{32,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,144},{32,103}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{32,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,144},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,144},{32,101}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{32,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{36,99}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{36,99}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_OneHandPass_2_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,458},{42,101}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{42,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OneHandPass.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a66dd16e5d48ce21722c1188e6624d8$</string>
            <key>textureFileName</key>
            <string>OneHandPass.png</string>
        </dict>
    </dict>
</plist>
