<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StaticBallWait_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{34,107}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{34,107}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{38,107}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{38,107}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,84},{44,105}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{44,105}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,172},{40,105}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{40,105}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,107},{32,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{32,103}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{34,107}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{34,107}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,107}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{38,107}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,38},{44,105}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{44,105}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,130},{40,105}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{40,105}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
            <key>StaticBallWait_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{32,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{32,103}}</string>
                <key>sourceSize</key>
                <string>{60,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>StaticBallWait.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c6167db69618f213a0febed912d012$</string>
            <key>textureFileName</key>
            <string>StaticBallWait.png</string>
        </dict>
    </dict>
</plist>
