<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>field_TwoHandPass_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,252},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,317},{38,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,252},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,252},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,252},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,216},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,216},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,50},{44,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{44,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,50},{44,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{44,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,317},{38,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,107},{34,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{42,105}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,107},{34,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,317},{36,103}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{36,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,317},{36,103}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{36,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,138},{38,101}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,138},{38,101}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{46,101}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{46,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{46,101}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{46,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{42,105}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,96},{40,101}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{46,103}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{46,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,96},{40,101}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,242},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,242},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,156},{44,99}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{44,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,156},{44,99}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{44,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{52,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{52,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{52,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{52,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{46,103}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{46,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,178},{36,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{36,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,107},{44,103}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,178},{36,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{36,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,320},{36,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,320},{36,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,305},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,305},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,422},{58,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{58,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,422},{58,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{58,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,107},{44,103}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,421},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,106},{48,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{48,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,421},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,320},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,320},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,320},{36,97}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{36,97}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,320},{36,97}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{36,97}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,461},{38,95}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{38,95}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,461},{38,95}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{38,95}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_1_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,106},{48,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{48,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,216},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,212},{38,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,216},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,307},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,307},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,204},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,204},{34,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{34,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,50},{44,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{44,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,50},{44,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{44,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,212},{38,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{34,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,105}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{34,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{34,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,212},{36,103}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{36,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,212},{36,103}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{36,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,138},{38,101}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,138},{38,101}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{46,101}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{46,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{46,101}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{46,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,105}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{42,105}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{40,101}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{46,103}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{46,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,96},{40,101}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{40,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,204},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,204},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,103},{44,99}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{44,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,103},{44,99}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{44,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{52,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{52,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{52,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{52,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{46,103}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{46,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,178},{36,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{36,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{44,103}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,178},{36,101}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,12},{36,101}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,320},{36,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,320},{36,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,202},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,202},{38,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{38,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{58,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{58,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{58,99}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{58,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{44,103}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,103}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,320},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,56},{48,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{48,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,320},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,282},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,282},{36,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{36,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,320},{36,97}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{36,97}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,320},{36,97}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{36,97}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,421},{38,95}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{38,95}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,421},{38,95}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{38,95}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>field_TwoHandPass_2_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,56},{48,99}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{48,99}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TwoHandPass.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:022424e66913acc22be5efa8e58e03da$</string>
            <key>textureFileName</key>
            <string>TwoHandPass.png</string>
        </dict>
    </dict>
</plist>
